.item{
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 10px;
  background: #94bbe9;

  & a{
    color: deeppink;
    text-decoration: none;
  }

  & section{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__main{

    & h1{
      width: 250px;
      font-size: 1em;
      margin-left: 10px;
    }

    & img{
      width: 100px;
      aspect-ratio: 1/1;
    }
  }
  &__amountAndPrice{
    margin-left: 10px;
  }

  &__trash{
    margin-left: auto;
    margin-right: 10px;
    width: 25px;

    & svg{
      width: 80%;
      height: auto;
    }
  }
}
.prices{
  margin-left: 10px;
  text-align: right;

  & p{
    margin: 0;
  }

  &__total{
    font-size: 1.5em;
  }
  &__retail{
    font-size: 0.8em;
  }
}

@media screen and (max-width: 600px) {
  .item{
    height: 150px;
    flex-direction: column;
    align-items: flex-start;
    padding: 5px;

    & section{
      width: 100%;
      justify-content: space-between;
    }

    &__main{
      justify-content: flex-start !important;

      & h1{
        width: auto;
        text-align: left;
      }

      & img{
        width: 80px;
        aspect-ratio: 1/1;
      }
    }
    &__amountAndPrice{
      margin-left: 0;
    }
    &__trash{
      display: none!important;
    }
  }
}

@keyframes trash {
  0% {
    width: 30%;
  }
  100% {
    width: 40%;
  }
}