.container{
  max-width: 1200px;
  margin: 0 auto;

  &__back{
    height: 50px;
    width: 50px;
    padding: 10px;

    & svg{
      height: 100%;
      width: auto;
    }
  }
}

.nav{
  width: 100%;
  margin: 20px 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.order{
  width: 100%;
  &__1step{
    display: flex;
    align-items: flex-start;
  }
  &__borderLeft{
    margin: 20px;
    height: auto;
    width: 400px;
  }
  &__sum{
    width: 100%;
    margin: 0 auto 30px auto;
    padding: 10px;
    border: 1px solid #242526;
    & p{
      margin: 5px 0;
    }
  }
  &__priceInfo{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  &__priceSum{
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #242526;
  }
  &__2step{

  }
  &__btn{
    width: 100%;
    & button{
      width: 100%;
    }
  }
}

@media screen and (max-width: 600px) {
  .order {
    margin: 20px 0;
    &__1step {
      flex-direction: column;
    }
    &__borderLeft{
      border: none;
      width: 80%;
      margin: 20px auto;
    }
    &__sum{
      width: 100%;
      margin: 10px 0;

    }
  }
}